.banner1{
    margin-top: 100px;
    background: red;
    width: 100px;
    height: 20px;
    
}
.banner2{
    background: gold;
    margin: 100px;
    top: 10px;
    right: 20px;
    padding: 10px 50px;
    align-items: center;
}
.container{
    display: flex;
}